roles/stepfunction/files/wf-dev.json
{
  "Comment": "Run Glue jobs on specific days",
  "StartAt": "Parallel Execution of Dev Jobs",
  "States": {
    "Parallel Execution of Dev Jobs": {
      "Type": "Parallel",
      "Next": "ens360-dashboard-pg-dev-01",
      "Branches": [
        {
          "StartAt": "ens360-dashboard-oc-dev-01",
          "States": {
            "ens360-dashboard-oc-dev-01": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "ens360-dashboard-oc-dev-01"
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "BackoffRate": 1,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 2,
                  "Comment": "Retry after task failed"
                }
              ],
              "Next": "ens360-dashboard-sl-dev-01"
            },
            "ens360-dashboard-sl-dev-01": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "ens360-dashboard-sl-dev-01"
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "BackoffRate": 1,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 2,
                  "Comment": "Retry after task failed"
                }
              ],
              "Next": "ens360-dashboard-loc-dev-01"
            },
            "ens360-dashboard-loc-dev-01": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "ens360-dashboard-loc-dev-01"
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "BackoffRate": 1,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 2,
                  "Comment": "Retry after task failed"
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "ens360-dashboard-c1-dev-01",
          "States": {
            "ens360-dashboard-c1-dev-01": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "ens360-dashboard-c1-dev-01"
              },
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.BranchFailed"],
          "Next": "Email-Trigger-Glue-OC-SL-LOC-C1-Job-Failure",
          "Comment": "This catcher detects errors generated by the oc sl loc c1 Job and triggers an email alert."
        }
      ]
    },
    "Email-Trigger-Glue-OC-SL-LOC-C1-Job-Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:745796605184:Enrich_Developers"
      },
      "Next": "Failed-Glue-OC-SL-LOC-C1-Job"
    },
    "Failed-Glue-OC-SL-LOC-C1-Job": {
      "Type": "Fail",
      "ErrorPath": "$.Error",
      "CausePath": "$.Cause"
    },
    "Email-Trigger-Glue-PG-PC-Job-Failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:745796605184:Enrich_Developers"
      },
      "End": true
    },
    "ens360-dashboard-pg-dev-01": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ens360-dashboard-pg-dev-01"
      },
      "Next": "ens360-dashboard-pc-dev-01",
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "Email-Trigger-Glue-PG-PC-Job-Failure",
          "Comment": "This catcher detects errors generated by the ens360-dashboard-pg-dev-01 Job and triggers an email alert"
        }
      ]
    },
    "ens360-dashboard-pc-dev-01": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "ens360-dashboard-pc-dev-01"
      },
      "Next": "ens360-dashboard-crawler-dev-01",
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "Email-Trigger-Glue-PG-PC-Job-Failure",
          "Comment": "This catcher detects errors generated by the ens360-dashboard-pc-prod-01 Job and triggers an email alert"
        }
      ]
    },
    "ens360-dashboard-crawler-dev-01": {
      "Type": "Task",
      "Parameters": {
        "Name": "ens360-dashboard-crawler-dev-01"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "ens360-dashboard-sl-dev-CreateIngestion"
    },
    "ens360-dashboard-sl-dev-CreateIngestion": {
      "Type": "Task",
      "Parameters": {
        "AwsAccountId": "745796605184",
        "DataSetId": "b9be8b81-7c66-4f7d-91e0-39938169e49b",
        "IngestionId.$": "States.UUID()"
      },
      "Resource": "arn:aws:states:::aws-sdk:quicksight:createIngestion",
      "Next": "ens360-dashboard-sl-dev-DescribeIngestion"
    },
    "ens360-dashboard-sl-dev-DescribeIngestion": {
      "Type": "Task",
      "Parameters": {
        "AwsAccountId": "745796605184",
        "DataSetId": "b9be8b81-7c66-4f7d-91e0-39938169e49b",
        "IngestionId.$": "$.IngestionId"
      },
      "Resource": "arn:aws:states:::aws-sdk:quicksight:describeIngestion",
      "Next": "ens360-dashboard-sl-dev-CheckIngestionStatus"
    },
    "ens360-dashboard-sl-dev-CheckIngestionStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Ingestion.IngestionStatus",
          "StringEquals": "COMPLETED",
          "Next": "Wait-for-5-Secs-Check-Completed-dev"
        },
        {
          "Variable": "$.Ingestion.IngestionStatus",
          "StringEquals": "FAILED",
          "Next": "Email-Trigger-ens360-dashboard-sl-dev-failure"
        },
        {
          "Variable": "$.Ingestion.IngestionStatus",
          "StringEquals": "RUNNING",
          "Next": "Wait-for-10-Mins-Check"
        }
      ]
    },
    "Wait-for-10-Mins-Check": {
      "Type": "Wait",
      "Seconds": 600,
      "Next": "ens360-dashboard-sl-dev-DescribeIngestion-1"
    },
    "ens360-dashboard-sl-dev-DescribeIngestion-1": {
      "Type": "Task",
      "Parameters": {
        "AwsAccountId": "745796605184",
        "DataSetId": "b9be8b81-7c66-4f7d-91e0-39938169e49b",
        "IngestionId.$": "$.Ingestion.IngestionId"
      },
      "Resource": "arn:aws:states:::aws-sdk:quicksight:describeIngestion",
      "Next": "ens360-dashboard-sl-dev-CheckIngestionStatus"
    },
    "Wait-for-5-Secs-Check-Completed-dev": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Email-Trigger-ens360-dashboard-sl-dev-failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:745796605184:Enrich_Developers"
      },
      "Next": "Failed-Dev-Dataset"
    },
    "Failed-Dev-Dataset": {
      "Type": "Fail",
      "ErrorPath": "$.Error",
      "CausePath": "$.Cause"
    }
  }
}
